.header {
    background-color: darkred;
    color: rgb(182, 255, 255);
    margin: auto;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}